.topnav {
    overflow: hidden;
    background-color: #257973;
    position: relative;
    text-align: left;



}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;

}
.some_links{
     font-family: "Raleway", sans-serif;
     text-align: center;
}
/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;

}

/* Style the hamburger menu */
.topnav a.icon {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #EAE9EE;
    color: #5B413F ;
}


.logo_image {
    max-width: 38%;
    margin-left: 29%;
    margin-top: -10%;

}
.shopping_bag{

    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;

}

@media only screen and (min-width: 775px){

    .topnav #myLinks{
        display:flex;
        align-self: center;



    }
    .topnav{
        display: flex;
        justify-content: space-around;


    }
    .topnav a.icon {
        display: none;
    }
    .logo_image{
        max-width: 14%;
        align-self: center;
        display: flex;
        margin-top: 0%;
        margin-left: -4%;


}

    .shopping_bag{

    margin-top: 0%;

    display: block;



}

}

