.tea_collection_header{
    font-size: 26px;
    font-family: "Baskerrvville", serif;
    padding: 30px;

}
.dreamtime_container{
    padding: 40px;
    width: 100%;
    position: relative;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    border: none;
}
.dreamtime_image{
    max-width: 18%;
}
.dreamtime_container .btn {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FCD9E5;
  color: #594442;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
    border-style: solid;
    border-color: #257973;
}.dreamtime_container .price {
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #594442;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-align: center;

}

.dreamtime_container .btn:hover {
  background-color: #A7B9D2 ;
    color: white;
}
